
.vs/BigDataEuropeStream/DesignTimeBuild/.dtbcache
.vs/BigDataEuropeStream/v16/.suo
.vs/BigDataEuropeStream/v16/Server/sqlite3/storage.ide
.vs/BigDataEuropeStream/v16/Server/sqlite3/storage.ide-shm
.vs/BigDataEuropeStream/v16/Server/sqlite3/storage.ide-wal
